<div class="collection-container">
    <!-- Div bên trái: bắt đầu từ phần "Phù hợp với" -->
    <div class="left-div">
        <!-- Phù hợp với -->
        <div class="collapsible" data-bs-toggle="collapse" data-bs-target="#phuHopVoi" aria-expanded="false" aria-controls="phuHopVoi">
            <span>Phù hợp với:</span>
            <svg class="tw-w-5 tw-h-5 tw-transition-transform tw-rotate-0 arrow-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 20" height="20" width="21">
                <path d="M15.7983 6.85156C16.193 7.27249 16.193 7.92751 15.7983 8.34844L10.5 14L5.20166 8.34844C4.80704 7.92751 4.80704 7.27249 5.20166 6.85156C5.63399 6.39041 6.36601 6.39041 6.79834 6.85156L10.5 10.8L14.2017 6.85156C14.634 6.39041 15.366 6.39041 15.7983 6.85156Z" fill="#A3A3A3"></path>
            </svg>
        </div>
        <ul id="phuHopVoi" class="collapse">
            <li class="filter-option">
                <input type="checkbox" name="phuHopVoi" class="filter-checkbox" id="homeWear">
                <label for="homeWear">Mặc ở nhà</label>
            </li>
            <li class="filter-option">
                <input type="checkbox" name="phuHopVoi" class="filter-checkbox" id="dailyWear">
                <label for="dailyWear">Mặc hàng ngày</label>
            </li>
            <li class="filter-option">
                <input type="checkbox" name="phuHopVoi" class="filter-checkbox" id="sportsWear">
                <label for="sportsWear">Thể thao</label>
            </li>
        </ul>

        <!-- Kích cỡ -->
        <div class="collapsible" data-bs-toggle="collapse" data-bs-target="#kichCo" aria-expanded="false" aria-controls="kichCo">
            <span>Kích cỡ:</span>
            <svg class="tw-w-5 tw-h-5 tw-transition-transform tw-rotate-0 arrow-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 20" height="20" width="21">
                <path d="M15.7983 6.85156C16.193 7.27249 16.193 7.92751 15.7983 8.34844L10.5 14L5.20166 8.34844C4.80704 7.92751 4.80704 7.27249 5.20166 6.85156C5.63399 6.39041 6.36601 6.39041 6.79834 6.85156L10.5 10.8L14.2017 6.85156C14.634 6.39041 15.366 6.39041 15.7983 6.85156Z" fill="#A3A3A3"></path>
            </svg>
        </div>
        <ul id="kichCo" class="collapse size-list">
            <li class="size-item">
                <label for="size_XS" class="size-button">XS</label>
            </li>
            <li class="size-item">
                <label for="size_S" class="size-button">S</label>
            </li>
            <li class="size-item">
                <label for="size_M" class="size-button">M</label>
            </li>
            <li class="size-item">
                <label for="size_L" class="size-button">L</label>
            </li>
            <li class="size-item">
                <label for="size_XL" class="size-button">XL</label>
            </li>
            <li class="size-item">
                <label for="size_2XL" class="size-button">2XL</label>
            </li>
            <li class="size-item">
                <label for="size_3XL" class="size-button">3XL</label>
            </li>
            <li class="size-item">
                <label for="size_4XL" class="size-button">4XL</label>
            </li>
        </ul>

        <!-- Màu sắc -->
        <div class="collapsible" data-bs-toggle="collapse" data-bs-target="#mauSac" aria-expanded="false" aria-controls="mauSac">
            <span>Màu sắc:</span>
            <svg class="tw-w-5 tw-h-5 tw-transition-transform tw-rotate-0 arrow-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 20" height="20" width="21">
                <path d="M15.7983 6.85156C16.193 7.27249 16.193 7.92751 15.7983 8.34844L10.5 14L5.20166 8.34844C4.80704 7.92751 4.80704 7.27249 5.20166 6.85156C5.63399 6.39041 6.36601 6.39041 6.79834 6.85156L10.5 10.8L14.2017 6.85156C14.634 6.39041 15.366 6.39041 15.7983 6.85156Z" fill="#A3A3A3"></path>
            </svg>
        </div>
        <ul id="mauSac" class="collapse color-list">
            <li class="color-item">
                <label for="color_phoi-mau" class="filter-select-color__item">
                    <div class="color-circle-wrapper" data-color="color_phoi-mau">
                        <div class="filter-select-color__button filter-select-color__button--do"></div>
                    </div>
                    <span class="filter-select-color__label">Đỏ</span>
                </label>
            </li>
            <li class="color-item">
                <label for="color_den" class="filter-select-color__item">
                    <div class="color-circle-wrapper" data-color="color_den">
                        <div class="filter-select-color__button filter-select-color__button--den"></div>
                    </div>
                    <span class="filter-select-color__label">Đen</span>
                </label>
            </li>
            <li class="color-item">
                <label for="color_xam" class="filter-select-color__item">
                    <div class="color-circle-wrapper" data-color="color_xam">
                        <div class="filter-select-color__button filter-select-color__button--xam"></div>
                    </div>
                    <span class="filter-select-color__label">Xám</span>
                </label>
            </li>
            <li class="color-item">
                <label for="color_trang" class="filter-select-color__item">
                    <div class="color-circle-wrapper" data-color="color_trang">
                        <div class="filter-select-color__button filter-select-color__button--trang"></div>
                    </div>
                    <span class="filter-select-color__label">Trắng</span>
                </label>
            </li>
            <li class="color-item">
                <label for="color_vang" class="filter-select-color__item">
                    <div class="color-circle-wrapper" data-color="color_vang">
                        <div class="filter-select-color__button filter-select-color__button--vang"></div>
                    </div>
                    <span class="filter-select-color__label">Vàng</span>
                </label>
            </li>
            <li class="color-item">
                <label for="color_xanh-la" class="filter-select-color__item">
                    <div class="color-circle-wrapper" data-color="color_xanh-la">
                        <div class="filter-select-color__button filter-select-color__button--xanh-la"></div>
                    </div>
                    <span class="filter-select-color__label">Xanh lá</span>
                </label>
            </li>
            <li class="color-item">
                <label for="color_xanh-duong" class="filter-select-color__item">
                    <div class="color-circle-wrapper" data-color="color_xanh-duong">
                        <div class="filter-select-color__button filter-select-color__button--xanh-duong"></div>
                    </div>
                    <span class="filter-select-color__label">Xanh dương</span>
                </label>
            </li>
            <li class="color-item">
                <label for="color_cam" class="filter-select-color__item">
                    <div class="color-circle-wrapper" data-color="color_cam">
                        <div class="filter-select-color__button filter-select-color__button--cam"></div>
                    </div>
                    <span class="filter-select-color__label">Cam</span>
                </label>
            </li>
        </ul>

        <!-- Chất liệu -->
        <div class="collapsible" data-bs-toggle="collapse" data-bs-target="#chatLieu" aria-expanded="false" aria-controls="chatLieu">
            <span>Chất liệu:</span>
            <svg class="tw-w-5 tw-h-5 tw-transition-transform tw-rotate-0 arrow-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 20" height="20" width="21">
                <path d="M15.7983 6.85156C16.193 7.27249 16.193 7.92751 15.7983 8.34844L10.5 14L5.20166 8.34844C4.80704 7.92751 4.80704 7.27249 5.20166 6.85156C5.63399 6.39041 6.36601 6.39041 6.79834 6.85156L10.5 10.8L14.2017 6.85156C14.634 6.39041 15.366 6.39041 15.7983 6.85156Z" fill="#A3A3A3"></path>
            </svg>
        </div>

        <ul id="chatLieu" class="collapse material-list">
            <li class="material-item">
                <label for="material_cotton" class="filter-select-material__item">
                    <div class="filter-select-material__checkbox"></div>
                    <span class="filter-select-material__label">Vải Cotton</span>
                </label>
            </li>
            <li class="material-item">
                <label for="material_excool" class="filter-select-material__item">
                    <div class="filter-select-material__checkbox"></div>
                    <span class="filter-select-material__label">Vải Excool</span>
                </label>
            </li>
            <li class="material-item">
                <label for="material_graphene" class="filter-select-material__item">
                    <div class="filter-select-material__checkbox"></div>
                    <span class="filter-select-material__label">Vải Graphene</span>
                </label>
            </li>
            <li class="material-item">
                <label for="material_modal" class="filter-select-material__item">
                    <div class="filter-select-material__checkbox"></div>
                    <span class="filter-select-material__label">Vải Modal</span>
                </label>
            </li>
            <li class="material-item">
                <label for="material_polyester" class="filter-select-material__item">
                    <div class="filter-select-material__checkbox"></div>
                    <span class="filter-select-material__label">Vải Polyester</span>
                </label>
            </li>
            <li class="material-item">
                <label for="material_recycle" class="filter-select-material__item">
                    <div class="filter-select-material__checkbox"></div>
                    <span class="filter-select-material__label">Vải Recycle</span>
                </label>
            </li>
        </ul>
    </div>

    <!-- Div bên phải: sản phẩm -->
    <div class="right-div">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="http://localhost:3000/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bộ sưu tập</li>
            </ol>
        </nav>

        <section data-collection-title="Áo Thun Nam">
            <h1>Bộ sưu tập áo thun nam</h1>
            <div class="row">
                {{#each products}}
                <div class="col-md-4 mb-4">
                    <a href="/product/{{this.id}}" class="product-card">
                        <div class="card product-card">
                            <div class="discount-label">{{this.discount}}</div>
                            <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
                            <div class="card-body">
                                <h5 class="card-title product-title">{{this.name}}</h5>
                                <p class="card-text"><span class="product-price">{{this.price}}</span> <span class="discount-code">{{this.discount}}</span> <span class="old-price">{{this.oldPrice}}</span></p>
                                <div class="color-swatches">
                                    {{#each this.colors}}
                                    <img src="{{this}}" alt="Color Swatch">
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </section>
    </div>
</div>